/** @format */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(180deg, #F8F6EF 0%, #FFFFFF 100%);
}
.hover\:bg-gray-100:hover{
  background: #f9f7f1 !important;
}

.bg-rb-secondary{
  background: #f9f7f1;
}

.swiper-button-prev{
  position: relative !important; 
}

.swiper-button-next{
  position: relative !important; 
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 0 !important;
}

.swiper-button-next, .swiper-button-prev{
  width: 40px !important;
  height: 40px !important;
  color: black  ;
}

.swiper-button-prev-review{
  position: relative !important; 
}

.swiper-button-next-review{
  position: relative !important; 
}

.swiper-button-next-review:after, .swiper-button-prev-review:after{
  font-size: 0 !important;
}

.swiper-button-next-review, .swiper-button-prev-review{
  width: 40px !important;
  height: 40px !important;
  color: black  ;
}


.swiper-slide{
  margin-right: 32px !important;
}

.swipper-success-story{
  height: 416px !important;
}

.icon-path {
  transition: transform 0.3s;
}

.rotate-icon .icon-path {
  transform: rotate(180deg);
}

.minus-red {
  filter: invert(48%) sepia(100%) saturate(3358%) hue-rotate(337deg) brightness(111%) contrast(104%);
}

.plus-black{

}

@media only screen and (max-width: 600px) {
  .swiper-slide{
    margin-right: 0px !important;
  }
}
