/** @format */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(180deg, #F8F6EF 0%, #FFFFFF 100%);
}

.swiper-button-prev{
  position: relative !important; 
}

.swiper-button-next{
  position: relative !important; 
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 0 !important;
}

.swiper-button-next, .swiper-button-prev{
  width: 40px !important;
  height: 40px !important;
  color: black  ;
}

.swiper-slide{
  margin-right: 32px !important;
}

.swipper-success-story{
  height: 416px !important;
}